
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.squared {
    border-radius: 0!important;
}
.circle-background,
.circle-progress {
  fill: none;
}
.circle-text {
  font-weight: bold;
}

